@using MyChurch.Models
@model List<Donation>

@{
    ViewBag.Title = "Listgive";
}

<h2>Listgive</h2>

<div class="container" style="margin-top: 85px;">
    <h2>Donators</h2>

    <ul>
        @foreach (var donation in Model)
        {
            <li>@donation.FullNameDonator give : @donation.Amount $</li>
        }
    </ul>
</div>