@model List<MyChurch.Models.Member>
@using MyChurch.Models

<main>
    <div class="header-content-home">
        <div class="headerwithvideo">
            <div class="title-img">
                <div class="tracking-in-contract">
                    <div class="title">
                        <h1>Tree of Life Church</h1>
                    </div>
                    <div class="subtitle">
                        <h2>Welcome Home</h2>
                    </div>
                </div>
                <div class="join-us d-flex justify-content-center">
                    <p><a class="join-btn bounce-bottom me-4" href="@Url.Action("Visit")">Join in Person &raquo;</a></p>
                    <p><a class="join-btn bounce-bottom" href="https://youtu.be/oLqqWVCLYfw">Join Online &raquo;</a></p>
                </div>
            </div>
            <video class="headervideo" playsinline="" autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted">
                <source src="https://cdn.hillsong.com/wp-content/uploads/2020/03/26054238/VS20-DotCom-Header.webmhd.webm" type="video/webm">
                <source src="https://cdn.hillsong.com/wp-content/uploads/2020/03/26054225/VS20-DotCom-Header.mp4.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <section class="container homefirstpart">
        <h3 class="text-center">Tree of Life Church is a sanctuary of faith where the roots of God's love run deep, nurturing growth and fostering a community devoted to spreading His light across the globe.</h3>
        <div class="d-flex justify-content-between">
            <div style="width: 648px; height: auto;" class="me-5">
                <p class="paragtop">Every believer was created to belong to a community. It was never God’s heart for us to do this life alone.</p>
                <p class="paragbtm">Tree of Life is a congregation of worshippers of Jesus Christ in Redding, California, who long to see hearts ignited until heaven meets earth. We are on the edge of the greatest revival of all time. Get involved and join us as we pursue the personal, regional, and global expansion of God's kingdom through His manifest presence.</p>
            </div>
            <div style="width: 648px; height: auto;" class="text-end">
                <img src="~/Assets/img/img1.jpg" sizes="(max-width: 767px) 100vw, (max-width: 991px) 43vw, 42vw" style="width: 550px;" />
            </div>
        </div>
    </section>
    <div class="banner banner1"></div>
    <section class="container content">
        <h2>c'est un peu ça meta</h2>
        <p>Lorem ipsum dolor sit amet..</p>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id justo ac lorem malesuada vestibulum. Ut
            convallis odio nec lectus ullamcorper, eget commodo nisl sodales. Integer a lectus nec lacus eleifend
            feugiat. Vestibulum ultricies, lacus quis tristique gravida, arcu lectus congue nulla, vel fermentum nisi mi
            in neque. Integer in sapien sit amet libero hendrerit fermentum. Duis nec justo eu tellus gravida molestie
            non a lectus. Nullam ultrices auctor eros, id consequat tortor facilisis vel. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris ultricies tincidunt mauris, vel facilisis
            ipsum. Integer consequat tortor eu aliquam congue. Phasellus ut vehicula arcu. Sed non diam vel dui
            scelerisque bibendum. Fusce et sapien eget velit ultricies vehicula. Phasellus nec urna nec metus
            ullamcorper ullamcorper.
        </p>
        <p>
            Suspendisse potenti. Proin tempor sagittis suscipit. Pellentesque ultricies laoreet orci, eu vestibulum orci
            vestibulum a. Phasellus nec orci a erat congue rhoncus. Curabitur ac justo id dolor pellentesque lacinia. In
            hac habitasse platea dictumst. Nullam tristique odio non ex posuere, non ultricies dolor tempor. Fusce
            pharetra ex libero, nec feugiat dolor tempor nec. Mauris efficitur nisi vitae turpis convallis fermentum.
            Cras ultricies malesuada nisi, in ultricies magna lacinia nec. Curabitur viverra, nunc non laoreet suscipit,
            metus libero vestibulum lorem, nec lacinia libero risus in mi.
        </p>
    </section>

    <div class="banner banner2"></div>
    <section class="container content">

        <!-- <p>Lorem ipsum dolor sit amet..</p>
        <h2>Lorem ipsum dolor sit amet.</h2> -->
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id justo ac lorem malesuada vestibulum. Ut
            convallis odio nec lectus ullamcorper, eget commodo nisl sodales. Integer a lectus nec lacus eleifend
            feugiat. Vestibulum ultricies, lacus quis tristique gravida, arcu lectus congue nulla, vel fermentum nisi mi
            in neque. Integer in sapien sit amet libero hendrerit fermentum. Duis nec justo eu tellus gravida molestie
            non a lectus. Nullam ultrices auctor eros, id consequat tortor facilisis vel. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris ultricies tincidunt mauris, vel facilisis
            ipsum. Integer consequat tortor eu aliquam congue. Phasellus ut vehicula arcu. Sed non diam vel dui
            scelerisque bibendum. Fusce et sapien eget velit ultricies vehicula. Phasellus nec urna nec metus
            ullamcorper ullamcorper.
        </p>
        <p>
            Suspendisse potenti. Proin tempor sagittis suscipit. Pellentesque ultricies laoreet orci, eu vestibulum orci
            vestibulum a. Phasellus nec orci a erat congue rhoncus. Curabitur ac justo id dolor pellentesque lacinia. In
            hac habitasse platea dictumst. Nullam tristique odio non ex posuere, non ultricies dolor tempor. Fusce
            pharetra ex libero, nec feugiat dolor tempor nec. Mauris efficitur nisi vitae turpis convallis fermentum.
            Cras ultricies malesuada nisi, in ultricies magna lacinia nec. Curabitur viverra, nunc non laoreet suscipit,
            metus libero vestibulum lorem, nec lacinia libero risus in mi.
        </p>
    </section>

</main>