
@{
    ViewBag.Title = "Visit";
}

<div class="container d-flex justify-content-center align-content-center" style="height: 100vh; padding-top: 100px;">
    <div class="row align-content-center">
        <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.976541290262!2d12.47481857596339!3d41.87185117124245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6173fb8c8ea7%3A0x1a413c9507f97391!2sEPICODE!5e0!3m2!1sfr!2sit!4v1714356788508!5m2!1sfr!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-4">
            <h2>Contact us</h2>
            <p>+1 248 5488 545</p>
            <p>
                Via dei Magazzini Generali, 16, 00154 Roma RM
            </p>
        </div>
    </div>
</div>

